.primary-overlay {
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(../img/main-bg-sml.png);
  background-size: cover;
  background-color: rgb(51, 51, 207);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  color: #fff;
}

.card-title {
  text-shadow: 2px 1px #444;
}

.masthead-heading, h1, h2 {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
                 text-shadow:   0px -1.5px 0 #212121,  
                   0px -1.5px 0 #212121,
                   0px  1.5px 0 #212121,
                   0px  1.5px 0 #212121,
                  -1.5px  0px 0 #212121,  
                  1.5px  0px 0 #212121,
                  -1.5px  0px 0 #212121,
                  1.5px  0px 0 #212121,
                  -1.5px -1.5px 0 #212121,  
                  1.5px -1.5px 0 #212121,
                  -1.5px  1.5px 0 #212121,
                  1.5px  1.5px 0 #212121,
                  -3px  4.5px 0 #212121,
                   0px  4.5px 0 #212121,
                   0.75px  2.25px 0 #212121,
                   0 2.5px 0.5px rgba(0,0,0,.1),
                   0 0 1.5px rgba(0,0,0,.1),
                   0 1.5px 0.75px rgba(0,0,0,.3),
                   0 3px 1.5px rgba(0,0,0,.2),
                   0 4.5px 4.5px rgba(0,0,0,.25),
                   0 3px 3px rgba(0,0,0,.2),
                   0 4.5px 4.5px rgba(0,0,0,.15);
}

.nose {
  color: rgb(253, 159, 175);
  font-size: 4rem;
}

.masthead-heading{
  font-size: 3rem;
}

nav.pink div.container div.nav-wrapper ul.right li a {
  color: #333 !important;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {

  .masthead-heading h1, h2 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -1.5px 0 #212121,  
                   0px -1.5px 0 #212121,
                   0px  1.5px 0 #212121,
                   0px  1.5px 0 #212121,
                  -1.5px  0px 0 #212121,  
                  1.5px  0px 0 #212121,
                  -1.5px  0px 0 #212121,
                  1.5px  0px 0 #212121,
                  -1.5px -1.5px 0 #212121,  
                  1.5px -1.5px 0 #212121,
                  -1.5px  1.5px 0 #212121,
                  1.5px  1.5px 0 #212121,
                  -3px  4.5px 0 #212121,
                   0px  4.5px 0 #212121,
                   0.75px  2.25px 0 #212121,
                   0 2.5px 0.5px rgba(0,0,0,.1),
                   0 0 1.5px rgba(0,0,0,.1),
                   0 1.5px 0.75px rgba(0,0,0,.3),
                   0 3px 1.5px rgba(0,0,0,.2),
                   0 4.5px 4.5px rgba(0,0,0,.25),
                   0 3px 3px rgba(0,0,0,.2),
                   0 4.5px 4.5px rgba(0,0,0,.15);
  }

  h1{
    font-size: 24pt;
  }
  
  h2 {
    font-size: 18pt;
  }
  .monster-fur {
    font-size: 2rem;
    color: rgb(51, 51, 207);
  }
  .nose{
    color: rgb(253, 159, 175);
    font-size: 4rem;
  }

  .main-header {
    min-height: 300px;
  }
}

.brand-logo{
  text-decoration: none;
}