@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:wght@500;700&display=swap');

/* Asterisk style selector to over-ride all default styles in tags */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #A64D79;
    color: #ffffff;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1
{
    color:#ffffff;
    font-size: 2em;
    display: inline-block;
}

nav.full-words{
    color: #efefef;
    font-size: 1.5rem;
}

header a{
    text-decoration: none;
    color: inherit;
}

#hero{
    background-image: url("../images/hero-1.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

#cover-text h2, #cover-text h3{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding: 1rem;
    max-width: 80%;
    margin:auto;
}

/* Main Content */
#main{
    margin-top: 100px;
    max-width: 1200px;
}

/* CSS Dropdown attributed to https://codepen.io/markcaron/pen/wdVmpB */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .dropdown > label,
  .dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.5em;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .dropdown > label:hover,
  .dropdown > a[role="button"]:hover,
  .dropdown > a[role="button"]:focus {
    border-color: #efefef;
  }
  
  .dropdown > label:after,
  .dropdown > a[role="button"]:after {
    display: inline-block;
    margin-left: 6px;
  }
  
  .dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #A64D79;
    color: #ffffff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
  }
  
  .dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
  }
  
  .dropdown > ul a:hover,
  .dropdown > ul a:focus {
    background: #ececec;
    color:#A64D79;
  }
  
  .dropdown > input[type="checkbox"]:checked ~ ul,
  .dropdown > ul:target {
    left: 0;
  }
  
  .dropdown > [type="checkbox"]:checked + label:after,
  .dropdown > ul:target ~ a:after {
    content: "\f0d8";
  }
  
  .dropdown a.close {
    display: none;
  }
  
  .dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-indent: -100vw;
    z-index: 1000;
  }
  
  /* Hero section */
.hero {
    background-image: url("../images/hero-1.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
        background-color: #efefef;
    }

    .dropdown > label,
    .dropdown > a[role="button"] {
        background-color: #efefef;
        color: #A64D79;
    }

    header h1{
        color:#A64D79;
        font-size: 0.75rem;
    }

    .dropdown > label,
    .dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: blue;
    font-size: 2rem;
    line-height: 1.5em;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .dropdown > label:hover,
  .dropdown > a[role="button"]:hover,
  .dropdown > a[role="button"]:focus {
    border-color: violet;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav{
        background-color: #efefef;
        color:#A64D79;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav{
        background-color: #efefef;
        color:#A64D79;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav{
        background-color: #efefef;
        color:#A64D79;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav{
        background-color: #efefef;
        color:#A64D79;
    }
}